.tweets__wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
}

.tweets__scroll {
    width: 300px;
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.tweet__search {
    width: 100%;
    background-color: white;
}