.container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    text-align: start;
    margin-top: 50px;
    padding: 30px;
}

.title {
    margin: 20px auto;
}

.sub__title {
    margin: 20px auto;
}

.content {
    margin: 20px auto;
}