.App {
  text-align: center;
  color: #e3e3e3;
}

* {
  margin: 0;
}
.app__body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.app__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* padding-left: 48px;
  padding-right: 48px; */
  margin-top: 3%;
}
