.row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 24px;
}

.row__chart {
  padding: 0 10px;
}

.stock-details {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
}
.row:hover {
  background: #25282a !important;
}

.row__intro h1 {
  width: 50px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: center;
}

.row__numbers {
  text-align: right;
  width: max-content;
  font-size: 12px;
  font-weight: 500;
}

.row__price {
  padding-bottom: 4px;
}

.positive {
  color: #5ac53b;
}

.negative {
  color: red;
}

.row__intro p {
  margin-right: 20px;
  font-size: 8.91px;
}

.row__container {
  cursor: default !important;
  height: 100%;
}

.btn-group {
  display: flex;
  margin-right: 16px;
}

.btn-group button {
  cursor: pointer;
  background: #36393c;
  border: none;
  outline: none;
  margin-right: 8px;
}

/* button:disabled,
button[disabled] {
  background-color: #cccccc00 !important;
  color: transparent;
  cursor: default;
} */

.buy_button {
  text-align: left;
  font-size: 12px;
  color: #4e7a40;
  padding: 8px 16px;
  border-radius: 4px;
}

.sell_button {
  text-align: right;
  font-size: 12px;
  color: #914542;
  padding: 8px 16px;
  border-radius: 4px;
}
